version: 2
jobs:
  build:
    docker:
      - image: node:8.0
    steps:
      - checkout 
      - run:
          name: Install npm dependencies
          command: npm install 
      - run:
          name: Build nodes
          command: npm run gulp